img {
    width: 300px;
}
body {
    text-align: center;
    font-family: 'Arial';
     background-image: url('Hacker GIF - Hacker - Discover & Share GIFs.gif');
    background-size: cover;
    color: rgb(0, 255, 60);
}
